<div class="container mx-auto py-8">
  <h2 class="text-3xl font-bold mb-4 text-center dark:text-white">Envía tus PQRS</h2>

  <form class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="fGroup" (ngSubmit)="enviarPQRS()">
    <div class="mb-4">
      <label for="tipo" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">Tipo:</label>
      <select id="tipo" formControlName="tipo" class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-700 dark:text-white" required>
        <option value="">Seleccione una opción</option>
        <option value="peticion">Petición</option>
        <option value="queja">Queja</option>
        <option value="reclamo">Reclamo</option>
        <option value="sugerencia">Sugerencia</option>
      </select>
      <div *ngIf="fGroup.get('tipo')?.invalid && fGroup.get('tipo')?.touched" class="text-red-500">
        El tipo es obligatorio.
      </div>
    </div>
    <div class="mb-4">
      <label for="nombre" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">Nombre:</label>
      <input id="nombre" type="text" formControlName="nombre" class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-700 dark:text-white" required>
      <div *ngIf="fGroup.get('nombre')?.invalid && fGroup.get('nombre')?.touched" class="text-red-500">
        El nombre es obligatorio y debe tener al menos 2 caracteres.
      </div>
    </div>
    <div class="mb-4">
      <label for="correo" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">Correo del administrador:</label>
      <input id="correo" type="email" formControlName="correo" class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-700 dark:text-white" required>
      <div *ngIf="fGroup.get('correo')?.invalid && fGroup.get('correo')?.touched" class="text-red-500">
        El correo es obligatorio y debe ser válido.
      </div>
    </div>
    <div class="mb-4">
      <label for="mensaje" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">Mensaje:</label>
      <textarea id="mensaje" rows="4" formControlName="mensaje" class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-700 dark:text-white" required></textarea>
      <div *ngIf="fGroup.get('mensaje')?.invalid && fGroup.get('mensaje')?.touched" class="text-red-500">
        El mensaje es obligatorio y debe tener al menos 10 caracteres.
      </div>
    </div>
    <div class="mb-4">
      <ngx-recaptcha2 #captchaElem
        [siteKey]="captchaSiteKey"
        (reset)="handleReset()"
        (expire)="handleExpire()"
        (load)="handleLoad()"
        (success)="handleSuccess($event)"
        [useGlobalDomain]="false"
        formControlName="recaptcha"
        class="w-full p-2 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-700 dark:text-white">
      </ngx-recaptcha2>
    </div>
    <div class="flex items-center justify-between">
      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded dark:bg-blue-700 dark:hover:bg-blue-800">
        Enviar
      </button>
    </div>
  </form>
</div>
