<div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center">
    <div class="max-w-lg">
      <h1 class="text-4xl font-bold text-gray-900">404</h1>
      <h2 class="text-4xl font-bold text-red-600 text-center">Página No Encontrada</h2>
      <p class="mt-4 text-gray-600">La página que estás buscando no pudo ser encontrada.</p>
      <button routerLink="/inicio" class="mt-8 inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md font-semibold text-white uppercase tracking-widest hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:border-blue-700 focus:ring ring-blue-300 disabled:opacity-25 transition ease-in-out duration-150">
        Volver a la página de inicio
      </button>
    </div>
  </div>