<div class="container mx-auto py-8">
  <h2 class="text-3xl font-bold mb-6">Solicitar Servicio</h2>
  <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()" class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">
    <div class="mb-4">
      <label for="ubicacionDelCuerpo" class="block text-gray-700 font-bold mb-2">Ubicación del Cuerpo:</label>
      <input type="text" id="ubicacionDelCuerpo" formControlName="ubicacionDelCuerpo" class="w-full p-2 border border-gray-300 rounded" required>
    </div>
    <div class="mb-4">
      <label for="tipoServicio" class="block text-gray-700 font-bold mb-2">Tipo de Servicio:</label>
      <select id="tipoServicio" formControlName="tipoServicio" class="w-full p-2 border border-gray-300 rounded" required>
        <option value="">Seleccione</option>
        <option value="Entierro">Entierro</option>
        <option value="Cremación">Cremación</option>
        <option value="Traslado">Velorio</option>
      </select>
    </div>
    <div class="mb-4">
      <label for="idBeneficiario" class="block text-gray-700 font-bold mb-2">Beneficiario:</label>
      <select id="idBeneficiario" formControlName="idBeneficiario" class="w-full p-2 border border-gray-300 rounded" required>
        <option value="">Seleccione</option>
        <option *ngFor="let beneficiario of beneficiarios" [value]="beneficiario.id">{{ beneficiario.primerNombre + beneficiario.id + " " + beneficiario.primerApellido }}</option>
      </select>
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
      Enviar
    </button>
  </form>
</div>
