<!-- validacion.component.html -->
<div class="flex items-center justify-center h-screen">
    <div *ngIf="!validado" class="flex flex-col items-center">
      <h5 class="text-xl font-medium text-gray-600 animate-pulse">Validando...</h5>
      <svg class="animate-spin h-8 w-8 text-gray-600 mt-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
      </svg>
    </div>
    <div *ngIf="validado" class="flex flex-col items-center">
      <h1 class="text-2xl font-bold text-green-600">Validado correctamente.</h1>
      <svg class="h-8 w-8 text-green-600 mt-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
      </svg>
    </div>
  </div>
  