
<body>
  <main>
    <section class="relative">
      <img src="path-to-your-header-image.jpg" alt="Header Image" class="w-full h-64 object-cover">
      <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white bg-black bg-opacity-50">
        <h1 class="text-4xl font-bold">FUNERARIA DIGITAL</h1>
        <p class="mt-2">En Funeraria Digital, tenemos el honor de acompañarte en momentos difíciles.</p>
      </div>
    </section>
    
    <section class="max-w-screen-xl mx-auto p-8 text-center">
      <div class="my-8">
        <img src="path-to-your-image.jpg" alt="Funeral Service" class="w-full h-auto md:w-1/2 mx-auto rounded-lg shadow-lg">
        <p class="mt-4 text-gray-700">Entendemos que cada familia tiene necesidades únicas durante momentos delicados. Por ello, hemos diseñado una variedad de planes funerarios cuidadosamente elaborados para adaptarse a diferentes presupuestos y preferencias.</p>
        <a routerLink="/parametros/plan-listar" class="mt-4 bg-green-700 text-white py-2 px-4 rounded hover:bg-green-800">Ver Planes</a>
      </div>
    </section>
    
    <section class="bg-gray-100 py-8">
      <div class="max-w-screen-xl mx-auto text-center">
        <h2 class="text-3xl font-bold text-customGreen">SOBRE NOSOTROS</h2>
        <p class="mt-4 text-gray-700">Nuestra dedicación a proporcionar servicios funerarios respetuosos y compasivos ha sido nuestra misión desde 2015. Con un equipo experimentado y comprensivo, estamos aquí para apoyarte en cada paso del camino. Conoce más sobre nuestra historia, nuestros valores y el compromiso que tenemos contigo y tu familia.</p>
        <div class="mt-8 flex justify-center space-x-8">
          <div class="flex flex-col items-center">
            <div class="h-12 w-12 bg-green-700 rounded-full flex items-center justify-center text-white">
              <!-- Icon placeholder -->
              <i class="fas fa-briefcase"></i>
            </div>
            <span class="mt-2">Servicios</span>
          </div>
          <div class="flex flex-col items-center">
            <div class="h-12 w-12 bg-green-700 rounded-full flex items-center justify-center text-white">
              <!-- Icon placeholder -->
              <i class="fas fa-microscope"></i>
            </div>
            <span class="mt-2">Innovación</span>
          </div>
          <div class="flex flex-col items-center">
            <div class="h-12 w-12 bg-green-700 rounded-full flex items-center justify-center text-white">
              <!-- Icon placeholder -->
              <i class="fas fa-hands-helping"></i>
            </div>
            <span class="mt-2">Compromiso</span>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>