<div class="bg-gray-100 min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-lg w-full bg-white shadow-lg rounded-lg p-6 border border-gray-200">
    <h2 class="text-2xl font-bold text-center mb-4">Información del Servicio Funerario</h2>
    <div class="mt-8">
      <h2 class="text-2xl font-bold text-center mb-4">Solicitudes de Servicio Funerario</h2>
      <div *ngFor="let solicitud of listarRegistros" class="border border-gray-300 p-4 rounded-lg mb-4">
        <p><span class="font-semibold">ID:</span> {{ solicitud.id }}</p>
        <p><span class="font-semibold">Fecha de Solicitud:</span> {{ solicitud.fechaSolicitud | date }}</p>
        <p><span class="font-semibold">Ubicación del Cuerpo:</span> {{ solicitud.ubicacionDelCuerpo }}</p>
        <p><span class="font-semibold">Tipo de Servicio:</span> {{ solicitud.tipoServicio }}</p>
        <p><span class="font-semibold">Estado:</span> {{ solicitud.estadoAceptado ? 'Aceptado' : 'Pendiente' }}</p>
        <p><span class="font-semibold">ID Beneficiario:</span> {{ solicitud.idBeneficiario }}</p>
        <p><span class="font-semibold">Cliente ID:</span> {{ solicitud.clienteId }}</p>
        <div *ngIf="!solicitud.estadoAceptado" class="mt-4 text-center">
          <button class="btn bg-blue-500 text-white py-2 px-4 rounded-lg">Aceptar</button>
        </div>
      </div>
      <div class="mt-8">
        <button type="button" class="btn bg-blue-500 text-white mr-4" (click)="GuardarRegistro()">Guardar</button>
        <a routerLink="/parametros/sedes/{{ sedeId }}/sala-listar" class="btn bg-red-500 text-white">Cancelar</a>
      </div>
    </div>
  </div>
</div>
