<div class="bg-gray-100 min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-lg w-full bg-white shadow-lg rounded-lg p-6 border border-gray-200">
      <h2 class="text-2xl font-bold text-center mb-4">Informacion del Plan</h2>
      <form [formGroup]="fGroup" id="planForm" class="space-y-4" (ngSubmit)="onSubmit($event)">
        <!-- Métodos de pago -->
        <fieldset class="border border-gray-300 p-4 rounded-lg">
          <legend class="text-lg font-semibold">Método de Pago</legend>
          <div class="space-y-4">
            <!-- Lista de Planes -->
            <div *ngFor="let r of servicioFunerario" class="border border-gray-300 p-4 rounded-lg">
              <p><span class="font-semibold">Nombre:</span> {{ r.tipoServicio }}</p>
              <p><span class="font-semibold">Detalles:</span> {{ r.ubicacionDelCuerpo}}</p>
              <p><span class="font-semibold">Tarifa:</span> {{ r.fechaSolicitud}}</p>
            </div>
          </div>
        </fieldset>
        <!-- Botones de acción -->
        <div class="flex justify-between mt-4">
          <button type="reset" class="btn bg-red-500 text-white py-2 px-4 rounded-lg">Cancelar</button>
          <button type="submit" class="btn bg-blue-500 text-white py-2 px-4 rounded-lg">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  