<div class="relative">
  <div class="flex items-center" (click)="toggleMenu()">
    <button class="flex items-center rounded-lg focus:outline-none hover:bg-slate-300 p-2">
      <p *ngIf="nombre" class="mr-3 text-customGreen font-bold">{{nombre}}</p>
      <div class="w-11 h-11">
        <img *ngIf="image; else noImage" class="rounded-full w-full h-full object-cover" [src]="image" alt="User Avatar" (error)="onImageError($event)">
        <ng-template #noImage>
          <i class="material-icons"><fa-icon [icon]="faCircleUser" class="text-3xl dark:text-white"></fa-icon></i>
        </ng-template>
      </div>
    </button>
  </div>
  
  <div *ngIf="isOpen" class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg py-1 z-50">
    <a *ngIf="idCliente" routerLink="planes/cliente/{{idCliente}}/mis-planes" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Mi plan</a>
    <a routerLink="/parametros/clientes/{{ idCliente }}/beneficiario-listar" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Mis beneficiarios</a>
    <a routerLink="servicios/solicitud-servicio-funerario/solicitud-servicios" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Solicitudes</a>
    <a *ngIf="idCliente" routerLink="/parametros/cliente-editar/{{idCliente}}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Configuración</a>
    <a routerLink="/seguridad/cambiar-clave" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Cambiar clave</a>
    <div class="border-t border-gray-100"></div>
    <a routerLink="/seguridad/cerrar-sesion" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Cerrar sesión</a>
  </div>
</div>
