<div class="container mx-auto py-12 px-6">
    <div class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-lg">
        <div class="text-center mb-12">
            <h1 class="text-4xl font-bold text-customGreen dark:text-green-300">Nuestra Misión, Visión y Valores</h1>
            <p class="text-gray-600 dark:text-gray-400 mt-4">Conoce más sobre quiénes somos y qué nos motiva.</p>
        </div>
  
        <div class="mb-12">
            <h2 class="text-3xl font-bold text-customGreen dark:text-green-300 mb-4">Misión</h2>
            <p class="text-gray-700 dark:text-gray-300 mb-6">Nuestra misión es ofrecer servicios funerarios de calidad, brindando apoyo y consuelo a las familias en momentos difíciles.</p>
            <!-- <img src="" alt="Misión" class="w-full rounded-lg shadow-md"> -->
        </div>
  
        <div class="mb-12">
            <h2 class="text-3xl font-bold text-customGreen dark:text-green-300 mb-4">Visión</h2>
            <p class="text-gray-700 dark:text-gray-300 mb-6">Nuestra visión es ser líderes en el sector funerario digital, proporcionando soluciones innovadoras y compasivas a nuestros clientes.</p>
            <!-- <img src="" alt="Visión" class="w-full rounded-lg shadow-md"> -->
        </div>
  
        <div class="mb-12">
            <h2 class="text-3xl font-bold text-customGreen dark:text-green-300 mb-4">Valores</h2>
            <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 mb-6">
                <li class="mb-2">Respeto hacia las familias y los seres queridos fallecidos.</li>
                <li class="mb-2">Honestidad en todas nuestras interacciones y transacciones.</li>
                <li class="mb-2">Compasión y empatía hacia quienes atraviesan momentos de duelo.</li>
                <li class="mb-2">Innovación continua para mejorar nuestros servicios y procesos.</li>
                <li class="mb-2">Compromiso con la excelencia en todo lo que hacemos.</li>
            </ul>
            <!-- <img src="" alt="Valores" class="w-full rounded-lg shadow-md"> -->
        </div>
  
        <div class="mb-12">
            <h2 class="text-3xl font-bold text-customGreen dark:text-green-300 mb-4">Nuestro Equipo</h2>
            <p class="text-gray-700 dark:text-gray-300 mb-6">Conoce al equipo detrás de nuestra funeraria digital y descubre quiénes están comprometidos en brindar el mejor servicio a las familias que nos eligen.</p>
            <!-- <img src="" alt="Nuestro Equipo" class="w-full rounded-lg shadow-md"> -->
        </div>
    </div>
  </div>
  