<fieldset class="container mx-auto bg-gray-100 p-8 rounded-lg shadow-md">
  <legend class="text-lg font-bold">Creación de Sala</legend>
  <div class="mt-8">
    <form [formGroup]="fGroup">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Otros campos del formulario -->
        <div class="flex flex-col">
          <label for="nombre" class="font-semibold">Nombre</label>
          <input formControlName="nombre" id="nombre" type="text" class="input-field mt-1">
          <div *ngIf="obtenerFgDatos['nombre'].errors && (obtenerFgDatos['nombre'].dirty || obtenerFgDatos['nombre'].touched)" class="text-red-500 mt-1">
            <strong>Este campo es obligatorio</strong>
          </div>
        </div>
        <div class="flex flex-col">
          <label for="tipo" class="font-semibold">Tipo</label>
          <input formControlName="tipo" id="tipo" type="text" class="input-field mt-1">
          <div *ngIf="obtenerFgDatos['tipo'].errors && (obtenerFgDatos['tipo'].dirty || obtenerFgDatos['tipo'].touched)" class="text-red-500 mt-1">
            <strong>Este campo es obligatorio</strong>
          </div>
        </div>
        <div class="flex flex-col">
          <label for="capacidad" class="font-semibold">Capacidad</label>
          <input formControlName="capacidad" id="capacidad" type="number" class="input-field mt-1">
          <div *ngIf="obtenerFgDatos['capacidad'].errors && (obtenerFgDatos['capacidad'].dirty || obtenerFgDatos['capacidad'].touched)" class="text-red-500 mt-1">
            <strong>Este campo es obligatorio</strong>
          </div>
        </div>
        <!-- Mensaje de error para las horas -->
        <div *ngIf="fGroup.errors?.['horasInvalidas']" class="col-span-2 text-red-500">
          <strong>La hora de salida debe ser mayor que la hora de entrada y debe haber al menos 3 horas de diferencia</strong>
        </div>
        <div class="flex flex-col">
          <label for="disponible" class="font-semibold">Disponible</label>
          <select formControlName="disponible" id="disponible" class="input-field mt-1">
            <option value="true">Sí</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>
      <div class="mt-8">
        <button type="button" class="btn bg-blue-500 text-white mr-4" (click)="GuardarRegistro()">Guardar</button>
        <a routerLink="/parametros/sedes/{{ sedeId }}/sala-listar" class="btn bg-red-500 text-white">Cancelar</a>
      </div>
    </form>
  </div>
</fieldset>
