<div class="container mx-auto my-8 p-6 bg-white shadow-lg rounded-lg border border-gray-200">

  <h2 class="text-3xl font-bold text-center mb-6">Gestionar Sedes</h2>

  <!-- Botón para gestionar ciudades y sedes -->
  <div class="text-center mb-6">
    <a routerLink="/parametros/ciudades" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full shadow-md">
      Gestionar Ciudades y Sedes
    </a>
  </div>

  <!-- Tabla de sedes -->
  <table class="w-full border-collapse border border-gray-300 text-sm">
    <thead>
      <tr class="bg-gray-200">
        <th class="px-4 py-2 border border-gray-300">Nombre</th>
        <th class="px-4 py-2 border border-gray-300">Dirección</th>
        <th class="px-4 py-2 border border-gray-300">Salas</th>
        <th class="px-4 py-2 border border-gray-300">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sede of sedes| paginate: { itemsPerPage: registrosPorPagina, currentPage: pag, totalItems: total }" class="hover:bg-gray-100">

        <td class="px-4 py-2 border border-gray-300">{{ sede.nombre }}</td>

        <td class="px-4 py-2 border border-gray-300">{{ sede.direccion }}</td>

        <!-- Botones de acción -->
        <td class="px-4 py-2 border border-gray-300 text-center">
          <a routerLink="/parametros/sedes/{{ sede.id }}/salas" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded-full">
            Ver Salas
          </a>
        </td>
        <td class="px-4 py-2 border border-gray-300 text-center">
          <a routerLink="/parametros/editar-sede/{{ sede.id }}" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-3 rounded-full mr-2">
            Editar
          </a>
          <a routerLink="/parametros/eliminar-sede/{{ sede.id }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-3 rounded-full">
            Eliminar
          </a>
        </td>
      </tr>
      <tr>
        <td colspan="5" class="px-4 py-2 bg-gray-200 border border-gray-300">
          <pagination-controls
            (pageChange)="pag = $event; ListarRegistros()"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            screenReaderPaginationLabel="Navegación"
            screenReaderPageLabel="Página"
            screenReaderCurrentLabel="Página actual"
          ></pagination-controls>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
<!--
<select [(ngModel)]="sedeSeleccionada" (change)="obtenerSedesPorCiudad(sedeSeleccionada || 0)" title="Select Sede" class="mx-auto my-4">
  <option *ngFor="let sede of sedes" [value]="sede.id">{{ sede.nombre }}</option>
</select>

<div *ngIf="sedeSeleccionada !== null">
  <h3 class="text-center">Salas de la Sede {{ sedeSeleccionada }}</h3>
  <ul>
    <li *ngFor="let sala of salas" >
      <td class="px-4 py-2 border border-gray-300">{{ sala.id }}</td>
      <td class="px-4 py-2 border border-gray-300">{{ sala.tipo }}</td>
      <td class="px-4 py-2 border border-gray-300">{{sala.sedeId}}</td>
    </li>
  </ul>
</div>
</div>-->
