<div class="bg-gray-800 text-white py-4">
  <h1 class="text-3xl font-bold text-center mb-4">Panel de Administrador - Funeraria Digital</h1>
  <ul class="flex justify-center space-x-4">
    <li><a href="/parametros/solicitud-listar" class="nav-link">Estadísticas</a></li>
    <li><a href="/parametros/plan-listar" class="nav-link">Gestión de Planes</a></li>
    <li><a href="/parametros/departamento-listar" class="nav-link">Gestión de Departamentos</a></li>
    <li><a href="parametros/registros-por-fechas" class="nav-link">Gestión de Servicios</a></li>
    <li><a href="/parametros/cliente-listar" class="nav-link">Gestión de Clientes</a></li>
    <li><a href="/parametros/conductor-listar" class="nav-link">Gestión de Empleados</a></li>
    <li><a href="#facturacion" class="nav-link">Facturación</a></li>
    <li><a href="#configuracion" class="nav-link">Configuración</a></li>
    <li><a href="#ayuda" class="nav-link">Ayuda</a></li>
  </ul>
</div>

<div class="container mx-auto">
  <main class="p-4">
    <!-- Sección de Estadísticas -->
    <div class="mb-8">
      <h2 class="text-2xl font-bold">Estadísticas</h2>
      <!-- Gráficos y paneles de estadísticas -->
      <div id="graficos-estadisticas" class="mt-4 p-4 bg-white rounded shadow">
        <!-- Gráficos dinámicos de estadísticas -->
        <div class="container">
          <canvas id="canvas"></canvas>
        </div>
      </div>
    </div>

    <!-- Sección de Gestión de Servicios -->
    <div id="servicios" class="mb-8">
      <h2 class="text-2xl font-bold">Gestión de Servicios</h2>
      <!-- Formulario para agregar/editar servicios -->
      <!-- Lista de servicios existentes con opciones de edición -->
    </div>

    <!-- Otras secciones similares para Gestión de Clientes, Calendario, Empleados, Facturación, Configuración, Ayuda, etc. -->
  </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
